<div class="container">
  <div class="row mx-auto login-wrapper mx-auto align-items-center">
    <div class="col bg-white p-5">
      <h1 class="h3 fs-4 text-center mb-5">{{isLoginMode ? 'Login' : 'Create an account'}}</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group mb-4">
          <label for="email">E-mail</label>
          <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
          >
          <span class="error" *ngIf="email.invalid && email.touched"> Please enter a valid email. </span>
          <span class="error" *ngIf="emailError !== '' "> {{emailError}} </span>
        </div>
        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          #password="ngModel"
          >
          <span class="error" *ngIf="password.invalid && password.touched && password.value.length === 0">Please enter a valid password.</span>
          <span class="error" *ngIf="password.value?.length < 6 && password.value?.length > 0 && !isLoginMode">Password should have atleast 6 characters.</span>
          <span class="error" *ngIf="passwordError !== '' "> {{passwordError}} </span>
        </div>
        <div class="text-center">
          <button class="btn btn-primary w-100" type="submit"
          [disabled]="loginForm.invalid"
          >{{ isLoginMode ? 'Log In' : 'Sign Up' }}</button>
         <div><em>{{isLoginMode ? 'Not a member?' : 'Already a member?'}}</em>
          <button class="btn text-primary text-decoration-underline"
          (click)="onSwitchMode()"
          type="button"
          >{{ isLoginMode ? 'Signup' : 'Login' }}</button> </div>
        </div>
      </form>
    </div>
  </div>
</div>
