<div class="row">
    <div class="col-12">
        <img [src]="recipe.imageUrl" alt="{{recipe.name}}" class="img-responsive mx-auto w-50 d-block">
    </div>
    <div class="col-12 mt-3">
        <h2> {{recipe.name}} </h2>
    </div>
    <div class="col-12">
      <button mat-button [matMenuTriggerFor]="manageRecipeMenu">Manage Recipe</button>
      <mat-menu #manageRecipeMenu="matMenu">
        <button mat-menu-item (click)="addToShoppingList()">To Shopping List</button>
        <button mat-menu-item>Edit Recipe</button>
        <button mat-menu-item>Delete Recipe</button>
      </mat-menu>
    </div>
    <div class="col-12">
      {{recipe.description}}
    </div>
    <div class="col-12">
        <h3 class="fw-bold">Ingredients</h3>
        <ul class="list-group list-unstyled">
          <li *ngFor="let ingredients of recipe.Ingredients" class="list-group-item"><span>{{ingredients.name}}</span>: <span class="ms-4">{{ingredients.amount}}</span></li>
        </ul>
    </div>
</div>
