html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a,
.cursor-pointer {
  cursor: pointer;
}

.bg-dark { background-color: #625e5952 !important; }

.text-secondary { color: #222222 !important;}

input,
textarea,
select {
  &.ng-invalid.ng-touched { border: 1px solid red; }
}

.error { color: red; }
