<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <ul class="ms-auto d-flex me-5 mb-2 mb-lg-0">
      <li class="mx-4"><a href="#" class="text-white text-decoration-none">Recipes</a></li>
      <li class="mx-4"><a href="#" class="text-white text-decoration-none">Shopping List</a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Manage <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Save Data</a></li>
          <li><a class="dropdown-item" href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>