<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">Name</label>
                    <input
                    #nameInput
                    type="text" class="w-100" name="name">
                </div>
                <div class="col-md-2 form-group">
                    <label for="name">Amount</label>
                    <input
                    #amountInput
                    type="number" class="w-100" name="amount">
                </div>
                <div class="col-12 my-2 d-flex gap-2">
                    <button class="btn btn-success" type="submit"
                    (click)="submitForm($event)"
                    >Add</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
