<div class="row">
    <div class="col-12">
        <form (ngSubmit)="onAddItem()" #addItemForm="ngForm">
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">Name</label>
                    <input
                    #nameInput="ngModel"
                    ngModel
                    required
                    type="text" class="w-100" name="name">
                    <div class="error" *ngIf="nameInput.invalid && nameInput.touched">This field is required</div>
                </div>
                <div class="col-md-3 form-group">
                    <label for="name">Amount</label>
                    <input type="number" class="w-100" name="amount"
                    #amountInput="ngModel"
                    ngModel
                    required
                    min="0"
                    (keydown)="validateInput($event)">
                    <div class="error" *ngIf="amountInput.invalid && amountInput.touched">
                      This field is required
                    </div>
                </div>
                <div class="col-12 my-2 d-flex gap-2">
                    <button class="btn btn-success" type="submit"
                    [disabled]="!addItemForm.valid"
                    >Add</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
