<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-secondary" routerLink="/">Recipe Book</a>
    <ul class="me-auto d-flex mb-2 mb-lg-0 list-unstyled">
      <li class="mx-4"><a class="text-secondary text-decoration-none" routerLink="/recipes" routerLinkActive="fw-bold text-decoration-underline">Recipes</a></li>
      <li class="mx-4"><a class="text-secondary text-decoration-none" routerLink="/shopping-list" routerLinkActive="fw-bold text-decoration-underline">Shopping List</a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a mat-button [matMenuTriggerFor]="ManageMenu" class="nav-link dropdown-toggle text-secondary" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Manage Account<span class="caret"></span>
        </a>
        <mat-menu #ManageMenu="matMenu">
          <button mat-menu-item (click)="saveRecipes()">Save Data</button>
          <button mat-menu-item (click)="fetchRecipes()">Fetch Data</button>
          <button mat-menu-item class="logout">Logout<span class="material-icons fs-5 ms-1">login</span></button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>
