<app-content>
    <div class="row">
        <div class="col-md-5">
            <app-recipe-list></app-recipe-list>
        </div>
        <div class="col-md-7">
            <app-recipe-details *ngIf="selectedRecipe; else infoText"
            [recipe]="selectedRecipe"
            ></app-recipe-details>
            <ng-template #infoText>
                <div class="h-100 d-flex justify-content-center align-items-center fs-4 fw-bold">Please select a Recipe!</div>
            </ng-template>
        </div>
    </div>
</app-content>
