.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    margin-top: 56px;
}

app-header {
  backdrop-filter: blur(3px);
  z-index: 9999;
  position: relative;
}
