<app-content>
    <div class="row">
        <div class="col-xs-10">
            <app-shopping-edit></app-shopping-edit>
            <hr>
            <ul class="list-group list-unstyled">
                <li class="list-group-item cursor-pointer d-flex justify-content-between" *ngFor="let ingredient of ingredients">
                    <span class="me-4">Name: {{ingredient.name}}</span>
                    <span>Amount: {{ingredient.amount}}</span>
                </li>
            </ul>
        </div>
    </div>
</app-content>
